---
import Base from '../layouts/Base.astro';
import { SITE_DESCRIPTION } from '../consts';
import Socials from '../components/SocialLinks.astro';
---

<Base title="About Page" description={SITE_DESCRIPTION}>
	<section class="block">
		<div class="relative before:absolute before:top-0 before:left-0 before:right-0 before:bottom-[36%] before:bg-primary before:z-0 pt-12 md:pt-20">
			<figure class="container max-w-screen-md mx-auto px-4 sticky z-1">
				<img
					class="mx-auto w-7/12 sm:w-5/12 aspect-square rounded-full object-cover object-center shadow-sm shadow-lightText border border-4 sm:border-8 border-primary"
					src="/author_image.png"
					alt="author logo"
				/>
			</figure>
		</div>
		<div class="container max-w-screen-md mx-auto px-4 my-20 md:my-24">
			<article class="space-y-4 text-secondary prose-base prose-headings:text-primary prose-headings:font-semibold max-w-full">
				<h1>
					Welcome to my blog!
				</h1>
				<p>
					Here I will write my opionns and include sources to back up how I formed my opinon.
					I'm open to intellegent debate and dialouge if you disagree with anything I write.
					Just make sure to cite your sources.  This isn't the University of Oklahoma where you
					can cry to the administration if you don't like the response to your opinions.
				</p>
				<h2>
					Why I Created this page.
				</h2>
				<img 
					src="/blog-placeholder-1.jpg" 
					alt="News Image" 
					class="float-left w-full sm:w-6/12 md:w-1/3 mr-4 rounded-md"
				>
				<p>
					</p>
				<p>
					I created this because I was tired of people yelling at each other with no accountability on social media.  I think arguments should be written out with sources cited.  The amount of people who make nonsense claims on social media and this includes politicians, influencers like Charlie Kirk, or just your aunt after she got into the wine, is gross and boring.  Hopefully my posts here can be an example of how to make arguments and maybe we can all come together and at least rally around a common set of facts. Feel free to direct people to the sources linked here.  i will try to curate a collection of accurate unbiased sources that people can easily reference with the format (zeke.church/#, where the # stand in for the number link you are referencing.)				</p>
				<h3>
					Debate
				</h3>
				<p>
					If you want to debate me I am open to it but here are my requirements.  First the topic must be declared, then we will do a written debate where you back up your arguments with sources. Also this isn't high school.  I don't care if you get help or reach out to experts or copy other peoples arguments you find because you realize they are better than yours.  I want the best arguments for and against every point just try to understand the points you are citing so you can defend them yourself.  Then if you want to do a final wrap up on TikTok or YouTube I will but no distracting by shifting your arguments or bringing up different topics. If other topics arise we can always repeat this process with that topic. Hopefully this will cut down on some of the misinformation on social media.
				</p>
				<p>
					Also if you want to debate me don't be an idealoigue. This is not an excercise in ego but an effort to find the best path forward for the country and to cut through the bullshit noise. If you are presented with information that contradicts your opinion and you don't have good evidence to refute the points be willing to change your mind.  I promise to be open minded when presented with new information and I expect you to be as well. 
				</p>
			</article>
			<Socials extra_class="mt-14 md:mt-16 justify-center" />
		</div>
	</section>
</Base>